
.example-container {
  display: flex;
  flex-direction: column;
  /* font-family: 'Prompt', sans-serif; */
  /* font-family: 'Yesteryear', cursive; */
  /* font-family: 'Chonburi', cursive; */
}

.example-container > * {
  width: 100%;
  margin: auto;
}

.mat-raised-button {
  background-image: linear-gradient(-225deg, #69EACB 0%, #EACCF8 48%, #6654F1 100%);
    border-radius: 8px;
}
